<header class="main-header">

  <!-- Logo -->
  <a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>A</b>LT</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Alumni</b>LTE GUB</span>
  </a>




  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- stat : profile bar; for this section user must to need to logged in. -->
        <!-- <div *ngIf="login"> -->
        <li>
          <button class="btn btn-primary">
            Loggin
          </button>
        </li>

        <!-- User Account: style can be found in dropdown.less -->
        <li *ngIf="login" class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="assets/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs">Alexander Pierce</span>
          </a>

          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
              <p>
                Alexander Pierce - Web Developer
                <small>Member since Nov. 2012</small>
              </p>
            </li>
            <li class="user-header">
              <p>
                Enterprise Architect
                <small>Member since Nov. 2012</small>
              </p>
            </li>

            <!-- start : Menu Body -->
            <li class="user-body">
              <!-- start : not need for now -->
              <div class="row">
                <div class="col-xs-3 text-center">
                  <a href="#">Followers</a>
                </div>
                <div class="col-xs-3 text-center">
                  <a href="#">Sales</a>
                </div>
                <div class="col-xs-3 text-center">
                  <a href="#">Friends</a>
                </div>
                <div class="col-xs-3 text-center">
                  <a href="#">Folks</a>
                </div>

              </div>
              <!-- /.row -->
            </li>
            <!-- end : Menu Body -->
            <!-- end : not need for now -->


            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Loggin</a>
              </div>
              <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">Log out</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- </div> -->
        <!-- stat : profile bar;for this section user must to need to logged in. -->
      </ul>
    </div>
  </nav>
</header>