<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">


    <section class="content-header">
      <h1>
        Profile
        <!-- <span *ngIf="profileEdit" class="badge badge-pill badge-warning">Profile Editing Enable</span> -->
        <span *ngIf="profileEdit" class="badge badge-pill badge-danger">Profile Editing Enable</span>
      </h1>
      <ol class="breadcrumb">
        <button class="btn btn-small btn-primary" (click)="editProfile()">
          Edit
        </button>
      </ol>
    </section>




    <!-- <app-footernavbar></app-footernavbar> -->
    <!-- <app-settingsnavbar></app-settingsnavbar> -->
  </div>
  <!-- <app-footernavbar></app-footernavbar> -->
</div>
